iframe.subman-embed {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1200px;
  border: 0px;
  min-height: 135em;
}
iframe.subman-embed:only-child {
  height: 100%;
}

.subman-pre-registration-form iframe.subman-embed {
  max-width: 767px;
}
